#parallax { 
    background: url('https://i.imgur.com/Na2GNWJ.jpg') 100% 0 fixed;
    background-size: cover; 
    height: 500px;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow:none;
    padding: 100px 0;
}
#content { 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: none;
}

.section {
    margin-bottom: 50px;
    margin-top: 200px;
}