.section {
	margin-bottom: 50px;
	margin-top: 50px;
}

#content {
	margin-top:50px;
	padding: 0px 15px;
}

.faq {
	margin-bottom: 30px;
}

p {
  margin-bottom: 0px;
}

.question {
  font-weight: 500;
}

.category-title {
  margin-bottom: 20px;
}

.caption {
	font-size: 16px;
	letter-spacing: 1px;
}

.subcaption {
	font-size: 10px;
}

#rush-flyer {
	width: 75%;
	height: auto;
}

.sponsors {
	margin-left: 5%;
	margin-right: 5%;
}

.company-logo:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.company-logo:hover:after {
    opacity: 0.6;
}