hr {
  width: 80%;
  border-top: 1px solid #C7C7C7;;
}

#footer {
  list-style-type: none;
}

#home-footer{
  margin-top:10px;
  white-space:nowrap;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
  color:#000000;
  text-align: center;
}
a:hover {
  text-decoration: none;
  color: #a19ca7;
}
.text-xs-center {
    text-align: center;
    vertical-align: center;
}

#header {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .15em;
  font-weight: 100;
}

#footer {
  background-color: #000000;
  margin-top: 50px;
}

#home-footer {
  color: #ffffff;
}

.fa {
  color:#e1e1e1;
}

.links {
  margin-top: 10px;
}